/* CSS Mini Reset */              
html, body, div, form, fieldset, legend, label       
{       
 margin: 0;       
 padding: 0;        
}              
table       
{       
 border-collapse: collapse;       
 border-spacing: 0;       
}              
th, td       
{       
 text-align: left;       
 vertical-align: top;       
}              
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }              
img { border: 0; }


nav {
    margin: 0 0 0 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    overflow: hidden;
 }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
    
}

nav li {
    
    float: left;
    width: 20%;
}

nav li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: black;
}

.active {
    background-color: green;
    color: white;
     display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  

}

#page-wrap {
     width: 80%;
     margin: 0 auto;
    height: 100%
}